# Fill in machine-specific values locally and store it as ~/.config/chezmoi/chezmoi.toml

[data]
# email = "your.email@domain.com" 
# env = "work" # OR "personal"
# codex = "your.codex.api.key"

[diff]
pager = "diff-so-fancy"
